.container {
    width: 100%;
    min-height: 100vh;

    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    padding: 4rem 0rem;

    display: flex;   
}

.product {
    background: #fff;
    border: .14rem solid #585e5b;
    border-radius: 10px;

    width: 22rem;
    height: 29rem;

    margin: 1rem 1rem;
    padding: 1rem 1rem;

    transition: 0.5s;
}
.product:hover {
    border: .14rem solid #000;
    box-shadow: 0 0px 20px #000;
}
.image {
    width: 15rem;
    height: 15rem;

    margin-left: auto;
    margin-right: auto;
    
    cursor: pointer;
}
.image img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 7%;

    background: #fff;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .4);
    border: .14rem solid #585e5b;
}
.info h3 {
    margin-top: 1.5rem;
    font-size: 21px;
}
.info-price {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 20px;
}
.buttons_num {
    display: flex;
}
.buttons_num h3 {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.add-to-cart {
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: .3s ease; 
    
    border: .14rem solid #585e5b;
    background: rgb(235, 235, 235);
    color: #585e5b;

    border-radius: 0.5rem;
}
.add-to-cart:hover {
    border: .14rem solid #000;
    color: #000;
}
.product_missing {
    font-size: 15px;

    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    cursor: pointer;
    transition: .3s ease; 
    
    border: .14rem solid #585e5b;
    background: rgb(235, 235, 235);
    color: #585e5b;

    border-radius: 0.5rem;
}
.product_missing:hover {
    border: .14rem solid #000;
    color: #000;
}
.price {
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
}

.general_info {
    display: grid;
}
.image_card {
    width: 300px;
    height: 300px;
    margin-right: 1rem;

    float: left;
    margin: 0px 20px 20px 0;
}
.image_card img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 7%;

    background: #fff;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .4);
    border: .14rem solid #585e5b;
}
.description_card_text{

}
.description_card_text h3{
}
.description_card_text p{

}
.characteristic_card {

}
.characteristic_card h3 {

}
.characteristic_card p {

}
.by_card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 20px;
}





