* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;

    list-style: none;
    text-decoration: none;
}

body {
    background: #70a495;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;

    font-weight: 550;

    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;

    box-shadow: 0 5px 10px #000;
}
header .logo {
    font-size: 20px;
    font-weight: 900;
    color: #000;
    transition: .5s;
}
header .logo:hover {
    transform: scale(1.2);
}
header nav ul li {
    position: relative;
    float: left;
}
header nav ul li a {
    padding: 15px;
    color: #000;
    font-size: 16px;
    display: block;
}
header nav ul li button {
    background: #fff;
    border: none;

    padding: 16px;
    color: #000;
    font-size: 16px;
    display: block;

    cursor: pointer;
}
header nav ul li a:hover {
    background: #000;
    color: #fff;
}
header nav ul li button:hover {
    background: #000;
    color: #fff;
}
nav ul li ul {
    position: absolute;
    left: 0;
    width: 180px;
    background: #fff;

    display: none;
}
nav ul li ul li{
    width: 100%;
    border: 1px solid rgba(0,0,0,.1);
}    
nav ul li:hover > ul {
    display: initial;
}


.about-company {
    width: 100%;
    min-height: 100vh;

    display: flex;

    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    padding: 6rem 2rem;
}
.about-company .content {
    flex: 1 1 40rem;
    padding: 0rem 5%;
}
.about-company .content h2 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
}
.about-company .content p {
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
    text-align: justify;
}

.about-company .testimonial-container {
    flex: 1 1 40rem;
    padding: 0rem 5%;
}
.about-company .testimonial-container .box {
    background: #517d71;
    border: .14rem solid #585e5b;

    margin: 1.2rem 0rem;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    transition: 0.5s;
}
.about-company .testimonial-container  .box:hover {
    border: .14rem solid #000;
    transform: translateY(-.8rem);
}
.about-company .testimonial-container  .box .fa-solid {
    font-size: 4rem;
    margin-bottom: 1rem;
}
.about-company .testimonial-container .box p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.about-company .testimonial-container .box .person {
    display: flex;
    align-items: center; 
}
.about-company .testimonial-container .box .img {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
}
.about-company .testimonial-container .box .img img{
    width: 100%;
    height: 100%;

    object-fit: fill;
    border-radius: 20%;
}
.about-company .testimonial-container .box .author {
    font-size: 2.5rem;
}

.btn_close {
    position: flex;
    padding: 4px;
    float: right;

    align-items: center;

    color: #585e5b;
    border: .14rem solid #585e5b;
    background: #70a495;

    cursor: pointer;
    transition: .3s ease; 

    border-radius: 30%;
}
.btn_close:hover {
    color: #000;
    border: .14rem solid #000;
}


.shopping_cart_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(1px);
    background: rgba(0, 0, 0, 0.3);
}
.shopping_cart_modal_window {
    background-color: #70a495;
    position: relative;
    width: 550px;
    border-radius: 10px;
    box-shadow: 0 12px 18px rgba(0, 0, 0, .4);
    padding: 30px;  
}
.ul_shopping_cart {
    overflow-y: auto;
    height: 600px;
    
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.ul_shopping_cart::-webkit-scrollbar {
    display: none;
}
.li_shopping_cart {
    height: 150px;

    background: #517d71;
    border: .14rem solid #585e5b;

    cursor: pointer;

    margin: 1.2rem 1rem;
    padding: 1rem 3rem;
    border-radius: 1.5rem;
    transition: 0.5s;

    position: relative;
}
.image_shopping_cart {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;

    position: absolute; 
    top: 15px; 
    left: 15px;
}
.image_shopping_cart img{
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 20%;

    background: #fff;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .4);
    border: .14rem solid #585e5b;
}
.info_shopping_cart h3 {
    margin-left: 5rem;
    font-size: 18px;
}
.quantity_change {
    display: flex;

    right: 20px;
    bottom: 20px;
    position: absolute;
}
.quantity_change button {
    border: none;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 5px;
    margin-left: 5px;

    cursor: pointer;
    transition: .3s ease; 
    
    border: .14rem solid #585e5b;
    background: #70a495;
    color: #3a564f;

    border-radius: 0.5rem;
}
.quantity_change button:hover {
    border: .14rem solid #000;
    color: #000;
}

.info_total_price_no {
    margin: 1.2rem 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.info_total_price {
    margin: 1.2rem 1rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 20px;
}
.buy_btn {
    border: none;
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: .3s ease; 

    font-weight: 700;
    font-size: 13px;
    
    border: .14rem solid #585e5b;
    background: #70a495;
    color: #3a564f;

    border-radius: 0.5rem;
}
.buy_btn:hover {
    border: .14rem solid #000;
    color: #000;
}
.total_price {
    font-weight: 700;
    font-size: 25px;
}

.contatiner_form_payment {
    position: relative;

    display: grid;
    justify-content: center;
}
.shopping_cart_modal_window::after {
    content: "";

    position: absolute;
    
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    background: rgba(255, 255, 255, 1) url("../img/loading.gif") center / 200px no-repeat;
    border-radius: 10px;
    
    opacity: 0;
    visibility: hidden;
}
.shopping_cart_modal_window.sending::after {
    opacity: 0.9;
    visibility: visible;
}

.contatiner_form_payment input {
    margin-top: 5px;
    background: transparent;
    height: 40px;
    border: 2px solid #585e5b;
    border-radius: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    color: #000;
    font-size: 26px;

    outline: none;
}
.contatiner_form_payment input::placeholder {
    font-size: 20px;
    color: #3a564f;
}
.contatiner_form_payment .cdek_send {
    display: grid;
    justify-content: center;
}
.label_type_shipment {
    margin-top: 5px;

    border: 2px solid #585e5b;
    border-radius: 1rem;
}
.label_type_shipment label{
    margin: 0px;
    display: flex;
}
.label_type_shipment label input{
    cursor: pointer;
}
.label_type_shipment p{
    font-size: 15px;
    margin-top: 15px;
    margin-left: 15px;
}
.label_type_shipment input {
    margin-left: 10px;
}
.submit_button {
    text-align: center;
    cursor: pointer;
}
.submit_button:hover {
    border-color: #000;
}
